body{
    position:relative;
    font-family: 'Noto Sans', sans-serif;
    color: black;
   
   min-width:1000px;        /* Suppose you want minimum width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
}

#landingContent{
    max-width: 700px;
    margin-top: 30vh;
}

em {
    font-weight: bold;
    color: blue;
}

.navbar{
    margin-bottom: 15px;
}

#results {
    color: black;
}

.sizer{
    width:300px;
    margin-right: 15px;
}

.modal-full{
    min-width:90%;
    padding-top:2vh;
    padding-bottom:2vh;
    padding-left:10vh;
    padding-right:10vh;
}

.videoSizer{
    width:50vw !important;
    height: auto;
}

.scriptSizer{
    height: auto;
    width:50vw !important;
}


.pre-scrollable{
    height: 200px!important; 
    overflow-y: scroll; 
}

#jumbotronBG{
    height: 100vh;
    background-color: white;
    background-repeat: repeat;
    background-size: cover;
}

label.btn{
    background-color: white!important;
    border-block: 0.5px!important;
    border-color: black!important;
    color:black;
}

label.btn.btn-success:hover{
    background-color: green!important;
    color:white;
}

label.btn.btn-danger:hover{
    background-color: red!important;
    color:white;
}

label.btn.btn-success.active{
    background-color: green!important;
    color:white;
}

label.btn.btn-danger.active{
    background-color: red!important;
    color:white;
}

.btn.focus{
    box-shadow: none!important;
}
