        <!-- POPUP-WINDOW -->
        <!-- Modal -->
        <div id="embeddedPopup" class="overlay modal fade" tabindex="-1" role="dialog"  aria-labelledby="embeddedPopupTitle" aria-hidden="true">
            <div class="modal-dialog modal-full" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="border-bottom: none!important;">
                        <div class="container-fluid text-center">

                            <div class="btn-group float-left" role="group" aria-label="Basic example">
                                <button id="Script" type="button" class="btn btn-secondary Script" onclick="script()">  Script </button>
                                <button id="Video"  type="button" class="btn btn-secondary Video" onclick ="video()"> 	Video </button>
                                <button id="Video_and_Script" type="button" class="btn btn-secondary active Video_and_Script" onclick="script_and_video()"> Video & Script </button>
                            </div>
                            <button type="button" class="close float-right close_overlay" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="modal-header">
                        <div class="container-fluid text-center">
                            <h1 id="overlay_title" class="modal-title col-12" ></h1>
                        </div>

                    </div>
                    <div class="modal-body">
                        <div id="videoContainer" class="d-flex justify-content-center">
                            <div class="videoSizer">
                                <div id="overlay_player" class="embed-responsive embed-responsive-16by9">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div id="scriptContainer" class="d-flex justify-content-center scriptContainer">
                            <div class="scriptSizer pre-scrollable">
                                <p id="overlay_script"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END POPUP-WINDOW -->
