        <div id="results" class="container-fluid" style="font-size: 12px;"> 
            <ul class="list-group">
                {% for hit in hits %}
                <li class="list-group-item" id="{{hit.tid}}" >
                    <span class="pull-left">
                        <div class="sizer showPopup" id="{{ hit.tid }}" style="cursor:pointer;" data-toggle="modal" data-target="#embeddedPopup">
                            <div class="embed-responsive embed-responsive-16by9">
                                <img id="embedding" class="embed-responsive-item"
                                                    src={{ hit.thumbnail_url }} frameborder="0", alt="{{ hit.title }} Thumbnail">
                            </div>
                        </div>
                    </span>
                    <h6 class ="showPopup" id="{{ hit.tid }}" style="cursor:pointer;" data-toggle="modal" data-target="#embeddedPopup">
                        {{ hit.title }}<br>
                        ID: {{ hit.tid }}<br>
                        Score: {{ hit.score }}<br>
                        Convention: {{ hit.event }}
                    </h6>
                    <p id ="snippet">{{ hit.snippet|safe }} <br> <br> <a href="{{ hit.embedding }}">{{ hit.embedding }}</a> </p>

                    {% if relevances is defined %}
                    <span class = pull-right>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            {% if relevances[hit.tid] == 1 %}
                            <label class="btn btn-success rounded-0 focus active" name="{{ hit.tid }}" value="1" active>
                            {% else %}
                            <label class="btn btn-success rounded-0" name="{{ hit.tid }}" value="1">
                            {% endif %}
                                <input type="radio" class="rate"> YEAH
                            </label>
                            {% if relevances[hit.tid] == 0 %}
                            <label class="btn btn-danger rounded-0 focus active" name="{{ hit.tid }}" value="0" active>
                            {% else %}
                            <label class="btn btn-danger rounded-0" name="{{ hit.tid }}" value="0">
                            {% endif %}
                                <input type="radio" class="rate"> NOPE
                            </label>
                        </div>
                    </span>
                    {% endif %}

                </li>
                {% endfor %}		
            </ul>
        </div>
        <div class="text-center">
            <ul class="pagination">
                {% for page in pagination %}
                <li class="page-item"><a href="/?query={{ query }}&page={{ page }}" class="page-link">{{ page }}</a></li>
                {% endfor %}
            </ul>
        </div>
