{% extends "_base.html" %}
{% block body %}
        <nav class="navbar navbar-expand-md navbar-light bg-light" id="mynav">
            <div class="mx-2 my-auto d-inline w-100">
                {% include "_topicform.html" %}
            </div>
        </nav>
		<div class="container input-group mb-3" style="padding-top: 1vh">
                <div class="input-group-text">id</div>
                <div class="input-group-text" style="background-color: white;">{{ topic.id }}</div>
                <div class="input-group-text">query</div>
                <div class="input-group-text" style="background-color: white;">{{ topic.query}}</div>
                <div class="input-group-text">description</div>
                <div class="input-group-text" style="background-color: white;">{{ topic.description }}</div>
        </div>

        {% include "_results.html" %}
        {% include "_overlay.html" %}
{% endblock %}

{% block script %}
        $(document).ready(function(){
            var a = 1
            {% for hit in hits %}
            $("#{{ hit.tid }}").click(function() { open_overlay({{ hit.title|tojson }}, {{ hit.raw_script|tojson }}, "{{ hit.embedding }}") })
            {% endfor %}

            $('.overlay').on('hidden.bs.modal', remove_content)

            $('#topic_select').change(function () {
                var id = $(this).children("option:selected").attr("name");
                $("#query").val(id);
                $("#topic_form").submit();
            });

            $(".rate").change(function(){
                $.ajax({
                    type: "POST",
                    url: "/topiceval",
                    data: {
                        topic_id: {{ topic.id }},
                        document_id: $(event.target).attr("name"),
                        relevance: $(event.target).attr("value"),
                    },
                    success: function(d) {
                        if (d["success"] == false) {
                            alert("Invalid Value")
                        }
                    },
                    error: function(d) {
                        alert("Server Error")
                    }
                })
            })
        })
{% endblock %}
