{% extends "_base.html" %}
{% block body %}
        <div class="jumbotron" id="jumbotronBG">
            <div id="landingContent" class="container text-center">
                <h1 style="color:#e62b1e">TED SEARCH {{ text }}</h1>

                {% include "_topicform.html" %}
            </div>
        </div>
{% endblock %}
    
{% block script %}
        $(document).ready(function(){
            $('#topic_select').change(function () {
                var id = $(this).children("option:selected").attr("name");
                $("#query").val(id);
                $("#topic_form").submit();
            });
        });
{% endblock %}
